body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #1e2a36;
    color: white;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-weight: 600;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto; 
    padding: 0 20px;
}

figure {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

figure a {
    display: block;
    flex-grow: 1;
    overflow: hidden;
}

figure img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.4s ease;
}

figure a:hover img {
    transform: scale(1.1);
    opacity: 0.85;
}

figcaption {
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #334658;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal-content img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #1e2a36;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease;
}

.close-btn:hover {
    background-color: #334658; 
    transform: scale(1.1); 
}